@charset "UTF-8";

.navbar{
	display:flex;
	align-items:center;
	justify-content: space-around
}

.textarea{
	display:flex;
	justify-content: space-around
}

.assignment {
	display: flex;
    justify-content: flex-start;
    margin-left: 16%;
}